body, html {
	background: url(https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  	height: 100%; 
}


.faded {
  color: rgba(255, 255, 255,); 
}

header.startup {
  height: 80%;
}

header {
  margin-top: 10px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 200px;
  font-family: 'Montserrat', sans-serif;
  margin: 100px;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-danger:hover {
	transition: 0.5s;
  	border-width: 20px;
  	cursor: pointer;
}

